<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe app</title>
</head>

<body>
    <a href="/recipes"><button>Go to Recipes</button></a>
</body>

</html>