<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7c35c829de.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title>iCook</title>
</head>

<body>
    <!--THE BACKGROUND AND ERROR MESSAGE BANNER-->
    <div id="landing-background">
        <div class="container text-center">
            <% if(error && error.length>0){ %>
            <div class="flashAlert alert alert-danger" role="alert">
                <p><%=error%></p>
            </div>
            <% } %>
        </div>
        <!--TITLE-->
        <div id="landing-title">
            <h1>Welcome to <span class="iInTitle">i</span>Cook!</h1>
            <p class="lead"><em>A simple web-app for storing your favourite recipes.</em> </p>
            <hr style="width:200px">
            <a id="landingSignupBtn" href="#" class="btn btn-lg btn-info">Sign-up</a>
            <a id="landingLoginBtn" href="#" class="btn btn-lg btn-info">Login</a>
            <br>

            <form id="landingLoginForm" action="/login" method="post" class="mx-auto hiddenOnLoad">
                <div class="form-group">
                    <input type="text" required name="username" placeholder="username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" required name="password" placeholder="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Login</button>
            </form>
            <form id="landingSignupForm" action="/register" method="post" class=" mx-auto hiddenOnLoad">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="text" required name="username" placeholder="username" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="email" required name="email" placeholder="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="password" id="signupPassword" required name="password" placeholder="password"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="password" id="signupConfirmPassword" required name="confirmPassword"
                                placeholder="confirm password" class="form-control">
                        </div>
                    </div>
                </div>
                <button type="submit" id="submitSignupForm" class="btn btn-primary mb-2">Sign up</button>
            </form>
        </div>

        <script>
            $(document).ready(function () {
                $("#landingSignupForm").removeClass("hiddenOnLoad");
                $("#landingLoginForm").removeClass("hiddenOnLoad");
                $("#landingLoginForm").hide();
                $("#landingSignupForm").hide();
                $("nav").hide();
            });

            $("#landingLoginBtn").click(function () {
                $("#landingSignupForm").hide();
                $("#landingLoginForm").fadeToggle();
            });
            $("#landingSignupBtn").click(function () {
                $("#landingLoginForm").hide();
                $("#landingSignupForm").fadeToggle();
            });

            //password validation
            $("#submitSignupForm").click(function (event) {
                event.preventDefault();
                var password1 = $("#signupPassword").val()
                var password2 = $("#signupConfirmPassword").val()
                if (password1 == '') alert("Please enter Password");
                if (password1 != '' && password2 == '') alert("Please confirm Password");
                if (password1 != '' && password2 != '' && password1 != password2) alert("Passwords don't match!")
                if (password1 != '' && password1 == password2) {
                    $("#landingSignupForm").submit();
                }
            })





        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
</body>

</html>