.card img{
    width:100%;
}

.card{
    padding:0;
}

.inline-form-button{
    display:inline;
}
/*--------------*/
/* LANDING PAGE */
/*--------------*/
#landing-background{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("images/brooke-lark-wMzx2nBdeng-unsplash (1).jpg");
    width: 100vw;
    height:100vh;
      background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#landingFlashMessaging{
    position:absolute;

}

#landing-title{
    color:white;
    text-align:center;
    padding-top:25vh;
}
 
#landingLoginForm{
    padding-top:15px;
    text-align:center;
    display: inline-block;
    float:none;
    margin: 0 auto;
    
}

#landingSignupForm{
    padding-top:15px;
    text-align:center;
    display: inline-block;
    float:none;
    margin: 0 auto;
}

.recipesBackground{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),url("images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg");
    width: 100vw;
    height:100vh;
      background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 


}

.showRecipeCards{
    max-width:20vw;
}