.card img{
    width:100%;
}

.card{
    padding:0;
}

.inline-form-button{
    display:inline;
}
/*--------------*/
/* LANDING PAGE */
/*--------------*/
#landing-background{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("images/brooke-lark-wMzx2nBdeng-unsplash (1).jpg");
    width: 100vw;
    height:100vh;
      background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#landing-title{
    color:white;
    text-align:center;
    padding-top:30vh;
}
 
#landingLoginForm{
    padding-top:15px;
    text-align:center;
    display: inline-block;
    float:none;
    margin: 0 auto;
    
}

#landingSignupForm{
    padding-top:15px;
    text-align:center;
    display: inline-block;
    float:none;
    margin: 0 auto;
    
}