<%- include("../partials/header") %>
<div class="container">
    <h1 class="text-center pt-5"> new recipe form </h1>

    <form id="newRecipeForm" class="col-12 col-md-6 mx-auto">
        <div class="form-group">
            <label for="name"> Recipe Name </label>
            <input name="name" id="name" type="text" placeholder="recipe name" required class="form-control">
        </div>
        <div class="form-group">
            <label for="image"> Recipe Image </label>
            <input name="image" id="image" type="text" placeholder="recipe image" class="form-control">
        </div>
        <div class="form-group">
            <label for="oneLiner">One Liner </label>
            <input name="oneLiner" id="oneLiner" type="text" placeholder="describe your recipe" class="form-control">
        </div>
        <div class="form-group">
            <label for="timeToMake">Time to make (minutes) </label>
            <input name="timeToMake" id="timeToMake" type="number" placeholder="How long to make?" class="form-control">
        </div>
        <div class="form-group">
            <label for="method"> Method </label>
            <textarea id="method" name="method" class="form-control">method here</textarea>
        </div>

        <div class="form-group form-row">
            <div class="col-6">
                <label for="ingredient">Ingredients:</label>
                <input name="ingredient" id="ingredient" placeholder="ingredient" class="form-control">
            </div>
            <div class="col-6">
                <div class="input-group pt-4 mt-2">

                    <input type="text" name="quantity" id="quantity" class="form-control" placeholder="quantity">
                    <div class="input-group-append">
                        <button id="addIngBtn" class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                </div>
            </div>

            <ul class="ingredientsFormList" id="ingredientListUL">

        </div>

        <button class="btn btn-primary" id="submitBtn" type="button">submit</button>

    </form>
</div>

<%- include("../partials/footer") %>

<script type="text/javascript">
    //$(document).ready(() => alert("Jquery works!"));
    $(document).ready(() => {
        // adds new ingredient and quantity to list and resets input
        $("#addIngBtn").click(() => {
            let ingredient = $("#ingredient").val();
            let quantity = $("#quantity").val();
            $("#ingredient").val(""); //reset ingredient input
            $("#quantity").val("");
            $("#ingredientListUL").append(
                "<li><span class='deleteIngredientIcon'><i class='fas fa-trash'></i></span>" + ingredient + " - " + quantity + "</li>"
            );
        });

        // remove ingredient/quantity from list if delete icon clicked
        $("ul").on("click", "span", function (event) {
            $(this)
                .parent()
                .fadeOut(500, function () {
                    $(this).remove();
                });
            event.stopPropagation();
        });

        // submits form data to server via ajax and redirects to /recipes
        $("#submitBtn").click(() => {
            $("#submitBtn").click(() => {
                // add all ingredients from list to array for transmission to server
                var ingredients = [];
                $("#ingredientListUL li").each((index, element) =>
                    ingredients.push($(element).text())
                )
                // data to be sent
                var name = $("#name").val();
                var image = $("#image").val();
                var oneLiner = $("#oneLiner").val();
                var method = $("#method").val();
                var timeToMake = $("#timeToMake").val();
                ingredients = ingredients;
                // ajax post request sending data to server
                $.ajax({
                    url: "http://localhost:5000/recipes",
                    type: "POST",
                    dataType: "json",
                    data: {
                        name: name,
                        image: image,
                        oneLiner: oneLiner,
                        method: method,
                        timeToMake: timeToMake,
                        ingredients: ingredients
                    },
                    success: () => window.location = "/recipes"
                })
            })
        })
    })
</script>